<!DOCTYPE html>
<html>
  <head>
    <title>User's Posts</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Posts</h1>
    <% for (let post of posts) { %>
      <div class='post'>
        <%- post.title %>
        <%- post.body %>
      </div>
    <% } %>

    <% if (nextposturl) { %>
      <a id='next_link' href='<%= nextposturl %>' >Show more posts</a>
    <% } %>
  </body>
</html>